<h1>HOME, se ven todos los prod</h1>

{{#each products}}
<div>Nombre: {{this.title}}</div>
<div>Descripcion: {{this.description}}</div>
<div>Precio: {{this.price}}</div>
<div>Stock: {{this.stock}}</div>
</br>
{{/each}}
</div>